$card-margin: 10px;

.directory-item-container {
  min-width: 30%;
  height: 40vh;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 0 7.5px 15px;
  overflow: hidden;

  @media (max-width: 900px) {
    flex-basis: 47%; /* 2 cards per row */
    height: 26vh;
    max-width: calc(50% - #{$card-margin * 2}); /* Adjust max-width for smaller screens */
  }

  @media (max-width: 600px) {
    height: 36vh;
    flex-basis: 100%; /* 1 card per row */
    max-width: 100%;
  }

  // background-color: #f0f0f0;
  // border: 1px solid #ccc;
  // flex: 1 1 30%; /* Initially, each card takes up 30% of the container width */
  // max-width: calc(33.33% - 20px); /* Calculate max-width based on the margin */
  // margin: 10px; /* Spacing around each card */
  // padding: 20px;
  // box-sizing: border-box; /* Include padding and border in width calculation */

  &:hover {
    cursor: pointer;

    & .background-image {
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    & .body {
      opacity: 0.9;
    }
  }

  &.large {
    height: 380px;
  }

  &:first-child {
    margin-right: 7.5px;
  }

  &:last-child {
    margin-left: 7.5px;
  }

  .background-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  .body {
    height: 90px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: white;
    opacity: 0.7;
    position: absolute;

    h2 {
      font-weight: bold;
      margin: 0 6px 0;
      font-size: 22px;
      color: #4a4a4a;
    }

    p {
      font-weight: lighter;
      font-size: 16px;
    }
  }
}
